<a href="https://colab.research.google.com/github/suyeon123/ai_study/blob/main/chap2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**파이썬에서 JSON 데이터 다루기**


---

In [2]:
d = {"name":"혼자 공부하는 데이터 분석"}
print(d['name'])

혼자 공부하는 데이터 분석

**파이썬 객체를 JSON 문자열로 변환하기: json.dumps() 함수**


---

In [3]:
import json
# 딕셔너리 d를 JSON 형식에 맞는 텍스로 변환
#ensure_ascii=False로 설정한 이유는 딕셔너리에 한글이 포함되어 있기 때문
d_str = json.dumps(d, ensure_ascii=False)
print(d_str)
print(type(d_str))

{"name": "혼자 공부하는 데이터 분석"}
<class 'str'>

**JSON 문자열을 파이썬 객체로 변환하기: json.loads() 함수**


---
직렬화(serialization): 프로그램 상의 객체를 저장하거나 읽을 수 있는 형태로 변환하는 것  
역직렬화(deserialization): 직렬화된 정보를 다시 프로그램에서 실행 가능한 객체로 변환하는 것

In [4]:
d2 = json.loads(d_str)
print(d2['name'])
print(type(d2))

혼자 공부하는 데이터 분석
<class 'dict'>

In [5]:
d3 = json.loads('{"name":"혼자 공부하는 데이터 분석", "author":"박해선", "year":"2022"}')
print(d3['name'])
print(d3['author'])
print(d3['year'])

혼자 공부하는 데이터 분석
박해선
2022

In [6]:
d3 = json.loads('{"name":"혼자 공부하는 데이터 분석", "author":["박해선","홍길동"], "year":"2022"}')
print(d3['author'][1])

홍길동

In [7]:
d4_str = """
[
  {"name":"혼자 공부하는 데이터 분석", "author":"박해선", "year":"2022"},
  {"name":"혼자 공부하는 머신러닝", "author":"박해선", "year":"2020"}
]
"""
d4 = json.loads(d4_str)
print(d4[0]['name'])

혼자 공부하는 데이터 분석

**JSON 문자열을 데이터프레임으로 변환하기: read_json() 함수**


---

In [8]:
import pandas as pd
pd.read_json(d4_str)
pd.DataFrame(d4)

             name author  year
0  혼자 공부하는 데이터 분석    박해선  2022
1    혼자 공부하는 머신러닝    박해선  2020

**XML 문자열을 파이썬 객체로 변환하기:fromstring()함수**


---

In [9]:
import xml.etree.ElementTree as et

x_str = """
<book>
  <name>혼자 공부하는 데이터 분석</name>
  <author>박해선</author>
  <year>2022</year>
</book>
"""
book = et.fromstring(x_str)
print(type(book))
print(book.tag)

<class 'xml.etree.ElementTree.Element'>
book

**자식 엘리멘트 확인하기:findtext()메서드**


---

In [11]:
book_childs = list(book)
print(book_childs)
name, author, year = book_childs
print(name.text)
print(author.text)
print(year.text)

[<Element 'name' at 0x7f637a885400>, <Element 'author' at 0x7f637a885770>, <Element 'year' at 0x7f637a88d680>]
혼자 공부하는 데이터 분석
박해선
2022

In [12]:
name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')
print(name)
print(author)
print(year)

혼자 공부하는 데이터 분석
박해선
2022

#**API로 20대가 가장 좋아하는 도서 찾기**


---

In [ ]:
http://data4library.kr/api/loanItemSrch?format=json&authKey=2295c67d4e14ac8bdf181d2cc8585dee75ea32f14cc9e28d1d58727582ef6157&startDt=2021-04-01&endDt=2021-04-30&age=20

In [16]:
import requests

url = "http://data4library.kr/api/loanItemSrch?format=json&startDt=2021-04-01&endDt=2021-04-30&age=20&authKey=2295c67d4e14ac8bdf181d2cc8585dee75ea32f14cc9e28d1d58727582ef6157"
r = requests.get(url)
data = r.json()
print(data)

{'response': {'error': 'API 활성화 상태가아닙니다.'}}